@font-face {
    font-family: 'Atyp';
    src: local('Atyp Text Semibold'), local('Atyp-Text-Semibold'), url('../fonts/AtypText-Semibold.woff2') format('woff2'), url('../fonts/AtypText-Semibold.woff') format('woff'), url('../fonts/AtypText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Samsung Sharp Sans';
    src: local('KZ Samsung Sharp Sans'), local('KZ-Samsung-Sharp-Sans'), url('../fonts/KZ_SamsungSharpSans.woff2') format('woff2'), url('../fonts/KZ_SamsungSharpSans.woff') format('woff'), url('../fonts/KZ_SamsungSharpSans.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}