* {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}

section * {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

input {
    outline-style: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.container-fluid {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.row {
    /* background-color: white; */
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.row.wrapper-offset-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.row.wrapper-offset-45 {
    margin-left: -45px;
    margin-right: -45px;
}

.wrapper {
    flex: 1 1 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1-1 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
}

.col-1-2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
}

.col-1-3 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 33.3333%;
    width: 100%;
    max-width: 33.3333%;
}

.col-1-3 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 25% !important;
    width: 100%;
    max-width: 25% !important;
}

.col-1-5 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 20%;
    width: 100%;
    max-width: 20%;
}

.col-2-5 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 40%;
    width: 100%;
    max-width: 40%;
}

.col-3-5 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 60%;
    width: 100%;
    max-width: 60%;
}

.col-45 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 45%;
    width: 100%;
    max-width: 45%;
}

.col-55 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 55%;
    width: 100%;
    max-width: 55%;
}

.offset-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.offset-45 {
    padding-left: 45px;
    padding-right: 45px;
}

/* .wrapper.d-flex{
    padding-left: 15px;
    padding-right: 15px;
} */

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

/* .container-fluid .col-55.pl-0{
    margin-left: -30px;
}
.container-fluid .col-45.pr-0{
    margin-right: -30px;
} */

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.btn {
    height: 40px;
    border: solid 1px #0000A0;
}

.title {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    /* identical to box height */
    letter-spacing: 0.05em;
}

h1.title {
    /* font-family: 'Samsung Sharp Sans'; */
    /* font-style: normal; */
    /* font-weight: bold; */
    font-size: 45px;
    line-height: 59px;
    margin-top: 107px;
    margin-bottom: 67px;
    /* identical to box height */
    /* letter-spacing: 0.05em; */
    /* color: black; */
}

h1.title span {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 59px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #0000A0;
}

.form_title {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 45px;
}

.input-form {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border: solid 1px #C8C8C8;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: white;
}

.input-textarea::-webkit-input-placeholder, .input-form::-webkit-input-placeholder {
    color: #BCB6B6;
}

.input-textarea::-moz-placeholder, .input-form::-moz-placeholder {
    color: #BCB6B6;
}

.input-select-wrapper {
    background-color: white;
    width: 100%;
    text-align: center;
    /* margin-bottom: 80px; */
}

.input-select-inner {
    /* margin-left: auto; */
    position: relative;
    width: 100%;
    height: 70px;
    margin: 20px auto;
    border: solid 1px #C8C8C8;
    /* border-radius: 3px; */
}

.input-select-list {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 70px;
    /* padding: 0 30px 0 7px; */
    background: transparent;
    border: 0;
    appearance: none;
    padding: 0 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.input-select-inner::before {
    z-index: 0;
    position: absolute;
    content: url(../img/icon-big-arrow.svg);
    /* width: 10px;
    height: 14px; */
    top: 19px;
    right: 18px;
}

.input-score-wrapper {
    background-color: white;
    display: flex;
}

.input-score-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: 1 1 20%;
    height: 70px;
    border: solid 1px #C8C8C8;
}

.input-score-item:not(:last-child) {
    border-right: none;
}

.input-score-item.full>svg {
    fill: #0000A0;
}

.input-textarea {
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 80px;
    min-height: 267px;
    width: 100%;
    border: solid 1px #C8C8C8;
    padding: 15px 30px;
}

.input-form, .input-score-wrapper, .input-select-wrapper {
    margin-bottom: 30px;
}

.form-field-name {
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    /* display: flex; */
    /* align-items: center; */
    color: #202020;
}

.btn-submit {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 300px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    background-color: #0000A0;
    color: white;
}

.bg-white {
    background-color: white !important;
    ;
}

.header-top-wrapper {
    background-color: #080878;
    color: white;
}

.header-top-city-wrapper {
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-top-city:before {
    content: url(../img/icon-map.svg);
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-right: 9px;
}

.navbar-topmenu {
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 11px;
}

.nav-item:not(:last-child) {
    margin-right: 55px;
}

.nav-item {
    line-height: 1;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
}

.header-middle-wrapper {
    padding: 20px 0;
}

.logotype-inner {
    /* margin-top: 25px; */
    margin-bottom: 6px;
}

.logotype-slogan {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #848484;
}

.search-and-phones-wrapper {
    flex: 1 1 auto;
}

.search-wrapper {
    margin-left: 88px;
    /* margin-top: 48px; */
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-control {
    height: 40px;
    border: solid 1px #0000A0;
}

.input-search {
    width: 235px;
    font-size: 10px;
    padding-left: 26px;
    border-radius: 0;
    border: solid 1px #0000A0;
    border-right: none;
}

.btn-search-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border: solid 1px #0000A0;
    border-left: none;
    border-radius: 0;
    position: relative;
    /* width: 40px; */
}

.btn-search-submit::before {
    content: url(../img/icon-search.svg);
    display: block;
    width: 12px;
    height: 13px;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 17px;
    margin-left: 17px;
    /* position: relative;
    top: 5px;
    right: 17px; */
}

.phone-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.phone-wrapper::before {
    content: url(../img/icon-phone.svg);
    width: 22px;
    height: 22px;
    margin-right: 17px;
}

.phone-number {
    font-size: 16px;
    color: black;
    line-height: 19px;
    margin-bottom: 2px;
}

.phone-number-info, .phone-number-info span {
    font-size: 8px;
    line-height: 9px;
    color: #616161;
}

.callback-wrapper {
    margin-left: 89px;
}

.btn-order-call, .btn-ckeck-status {
    display: block;
    width: 180px;
    font-size: 16px;
    font-weight: 400;
}

.btn-order-call {
    margin-bottom: 15px;
    background-color: #0000A0;
    color: white;
}

.btn-ckeck-status {
    background-color: white;
    color: black;
}

.header-bottom-wrapper {
    background-color: #080878;
    margin-bottom: 33px;
}

.mainmenu {
    width: 100%;
}

.mainmenu-nav {
    padding: 14px 0;
    list-style: none;
    margin: 0;
}

.mainmenu-item {
    flex: 1 0 auto;
    display: inline-block;
    max-height: 28px;
}

.mainmenu-item:not(:last-child) {
    margin-right: 69px;
}

.mainmenu-link {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}

.banner-wrapper {
    margin-top: 107px;
    margin-bottom: 115px;
}

.section-banner {
    flex: 1 1 50%;
}

.section-banner:first-child {
    flex: 1 1 calc(50% - 30px);
    /* padding-right: 30px; */
}

.section-banner:last-child {
    padding-left: 23px;
}

.banner-title {
    font-family: 'Samsung Sharp Sans';
    font-size: 45px;
    font-weight: 400;
    line-height: 58.72px;
    margin-top: 0;
    margin-bottom: 40px;
    letter-spacing: 0.05em;
}

.banner-title span {
    font-family: 'Samsung Sharp Sans';
    font-size: 45px;
    font-weight: 400;
    line-height: 58.72px;
    letter-spacing: 0.05em;
    color: #080878;
}

.banner-text-wrapper {
    padding-right: 57px;
    margin-bottom: 50px;
}

.banner-text-wrapper p {
    margin-bottom: 23px;
}

.input-banner-form-phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-left: 15px;
    width: 240px;
    margin-right: 18px;
    border: 1px solid #0000A0;
    box-sizing: border-box;
}

.btn-banner-form-submit {
    background-color: #0000A0;
    width: 210px;
    text-align: center;
}

.btn-banner-form-submit>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.banner-image-wrapper {
    text-align: right;
}

.banner-image-inner {
    /* margin-left: auto; */
    display: inline-block;
}

.banner-image-description-wrapper {
    display: flex;
}

.banner-image-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: solid 2px #FF6B00;
    padding: 11px 18px 5px;
}

.banner-image-description>* {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
}

.advantages {
    background-color: #FAFAFA;
}

.advantages-wrapper {
    margin-bottom: 100px;
}

.advantages-title {
    flex: 1 1 100%;
    font-family: 'Samsung Sharp Sans';
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.item-advantages {
    flex: 1 1 25%;
    max-width: 290px;
    /* padding: 0 15px; */
}

.image-advantages-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin-bottom: 65px;
}

.item-advatage-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    margin-bottom: 32px;
}

.item-advatage-description {
    /* font-family: Open Sans; */
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 600;
    line-height: 22px;
    /* letter-spacing: 0em; */
    text-align: center;
    color: #404040;
    padding: 0 5px;
}

.type-device-wrapper {
    padding-bottom: 20px;
    margin-left: -35px;
    margin-right: -35px;
}

.type-device-title {
    flex: 1 1 100%;
    font-family: 'Samsung Sharp Sans';
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.05em;
    text-align: center;
    margin: 100px 0 80px;
}

.card-categoty-device {
    flex: 0 0 25%;
    box-sizing: border-box;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.card-categoty-device {
    margin-right: auto;
}

.image-category-device-wrapper {
    border: solid 2px #DCDCDC;
    border-bottom: none;
    /* height: 226px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 73px 0 81px;
}

.card-category-device-title {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000A0;
    color: white
}

.steps {
    background-color: #FAFAFA;
    /* margin-bottom: 10px; */
    /* border-bottom: solid 1px red; */
}

.steps-wrapper {
    margin-bottom: 142px;
}

.steps-title {
    flex: 1 1 100%;
    font-family: 'Samsung Sharp Sans';
    /* font-style: normal; */
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.05em;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.card-step {
    flex: 0 1 239px;
    position: relative;
}

.card-step:not(:last-child)::before {
    content: '';
    background-image: url(../img/icon-between-step-arrow.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: block;
    right: calc(-50% + 78px);
    top: 40px;
    width: 78px;
    height: 8px;
}

.card-step-image-wrapper {
    position: relative;
    text-align: center;
    height: 80px;
    margin-bottom: 35px;
    /* border: solid 1px red; */
}

/* .card-step-image-wrapper:not(:last-child)::before{
    content: '';
    background-image: url(../img/icon-between-step-arrow.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: block;
    left: 83%;
    top: 46%;
    width: 77px;
    height: 8px;
} */

/* .card-step-image {
    border: solid 1px red;
} */

.card-step-title {
    /* font-family: Open Sans; */
    /* font-style: normal; */
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 40px;
}

.card-step-description {
    /* font-family: Open Sans; */
    /* font-style: normal; */
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
}

.content-wrapper {
    font-size: 18px;
    line-height: 25px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4:not(:first-child), .content-title:not(:first-child) {
    margin-top: 90px;
}

.content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content-title:first-child {
    margin-top: 10px;
}

.content-wrapper p:first-child {
    margin-top: 10px;
}

.content h1, .content h2, .content h3, .content h4, .content-title {
    /* font-family: Samsung Sharp Sans; */
    font-family: 'Samsung Sharp Sans';
    /* font-style: normal; */
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    /* margin-top: 90px; */
    margin-bottom: 80px;
}

.map-block-wrapper, .map-form-wrapper {
    background-color: #FAFAFA;
}

.map-block-wrapper {
    flex: 1 1 60%;
    /* min-height: 459px; */
    background-color: green;
}

.map-form-wrapper {
    flex: 0 0 40%;
}

.map-form {
    margin-left: 73px;
}

.map-form-title {
    font-family: 'Samsung Sharp Sans';
    /* font-family: Samsung Sharp Sans; */
    /* font-style: normal; */
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    /* identical to box height */
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 0.05em;
    margin-top: 99px;
    margin-bottom: 15px;
}

.map-form-subtitle {
    /* font-family: 'Open Sans'; */
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #0C0C0C;
    margin-bottom: 60px;
}

.input-map-form-phone, .btn-map-form-submit {
    max-width: 250px;
}

.input-map-form-phone {
    margin-bottom: 24px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #0000A0;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 12px;
}

.btn-map-form-submit {
    background-color: #0000A0;
    color: white;
    font-family: 'Roboto';
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 16px;
    margin-bottom: 100px;
}

footer {
    background-color: #080878;
    padding-top: 61px;
    color: white;
}

.footer-logotype-subtitle {
    font-size: 12px;
    line-height: 16px;
}

.footer-payment-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    /* color: #FFFFFF; */
    margin-top: 43px;
    margin-bottom: 15px;
}

.image-payment-footer:not(:last-child) {
    margin-right: 20px;
}

.page-menu {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}

.item-page-menu {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 15px;
}

.service-menu {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}

.item-service-menu {
    margin-bottom: 15px;
}

.item-page-menu-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.footer-phone {
    position: relative;
    display: block;
    font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    color: white;
}

.footer-phone:first-child::before {
    content: '';
    display: inline-block;
    background-image: url(../img/icon-footer-phone.svg);
    background-position: center;
    background-size: contain;
    height: 22px;
    width: 22px;
    position: absolute;
    left: -30px;
}

.footer-phone-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    text-align: right;
    margin-top: 2px;
    margin-bottom: 19px;
}

.footer-email {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: white;
    text-align: right;
}

.footer-timework-title {
    font-size: 15px;
    line-height: 20px;
    color: white;
    text-align: right;
    margin-top: 23px;
    margin-bottom: 8px;
}

.footer-timework {
    margin-top: 8px;
    font-size: 15px;
    line-height: 20px;
    color: white;
    text-align: right;
}

.footer-end-line {
    width: 100%;
    align-items: flex-end;
    padding-bottom: 72px;
}

.copyright {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #F1F1F1;
}

.privacy-policy-wrapper {
    margin: 0;
}

.privacy-polycy-link {
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #F1F1F1;
}

.btn-footer-callback {
    margin-bottom: 4px;
    padding-left: 26px;
    padding-right: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

/* TABLE */

.pricelist {
    background-color: #EEEEEE;
}

.pricelist-wrapper {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 100px;
}

table {
    /* width: calc(100% - 220px); */
    width: 100%;
    border-collapse: collapse;
    /* margin-left: auto;
    margin-right: auto; */
}

thead {
    font-size: 20px;
    line-height: 27px;
    color: white;
}

tr {
    margin-bottom: 5px;
    background-color: white;
    border-bottom: solid 5px #EEEEEE;
}

thead tr {
    background-color: #080878;
    /* border: solid 1px #080878; */
    /* border-bottom: solid 5px #EEEEEE; */
}

td {
    /* border-collapse: separate; */
    /* border-spacing:10px; */
    /* border: solid 1px #080878; */
    padding: 22px 10px;
    /* padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 22px; */
    font-family: 'Open Sans', sans-serif;
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 20px;
    line-height: 28px;
}

td:not(:first-child) {
    text-align: center;
}

td:first-child {
    width: 440px;
    padding-left: 20px;
}

td:nth-child(2) {
    width: 212px;
    /* margin-right: 43px; */
}

td:nth-child(3) {
    width: 204px;
}

td:nth-child(4) {
    width: 204px;
}

.title-pricelist {
    margin-top: 97px;
}

.pricelist-description-text {
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    margin-top: 3px;
}

.btn-pricelist {
    width: 172px;
    background-color: #080878;
    color: white;
    /* text-align: ; */
    /* font-style: normal;
    font-weight: normal; */
    font-size: 20px;
    line-height: 27px;
}

.type-device-title {
    margin-bottom: 50px;
}

.type-device-select-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

.type-device-select-inner {
    /* margin-left: auto; */
    position: relative;
    width: 332px;
    height: 40px;
    margin: 20px auto;
    border: solid 1px black;
    /* border-radius: 3px; */
}

.type-device-select-list {
    width: 332px;
    height: 40px;
    padding: 0 20px 0 7px;
    background: transparent;
    border: 0;
    appearance: none;
    padding: 0 15px;
}

.type-device-select-inner::before {
    position: absolute;
    content: url(../img/icon-type-device-select-arrow.svg);
    /* width: 10px;
    height: 14px; */
    top: 5px;
    right: 16px;
}

.reviews {
    background-color: #FAFAFA;
}

.wrapper-button-new-reviews {
    text-align: right;
    margin-bottom: 22px;
}

.btn-new-reviews {
    width: 300px;
    background-color: #0000A0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.review-card {
    border: solid 1px #E4E4E4;
    background-color: white;
    padding: 32px 24px 0;
    margin-bottom: 30px;
}

.review-card-header {
    margin-bottom: 33px;
}

.review-card-date {
    font-size: 16px;
    line-height: 22px;
    color: #353535;
}

.review-card-service {
    margin-left: 162px;
    font-size: 16px;
    line-height: 22px;
    color: #353535;
}

.review-card-rating {
    margin-left: auto;
    margin-right: 55px;
    margin-bottom: 7px;
}

.reviews-card-rating-status {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../img/icon-rating.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reviews-card-rating-status.empty {
    background-image: url(../img/icon-rating-empty.svg);
}

.review-card-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.review-card-text {
    font-size: 16px;
    line-height: 22px;
    color: #1C1C1C;
    margin-top: 29px;
    margin-bottom: 30px;
}

/*PAGINATION*/

.pagination {
    /* text-align: center; */
    margin-top: 60px;
    margin-bottom: 100px;
}

.pagination-button {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #E2E2E2;
    background-color: white;
    color: black;
    font-size: 14px;
    line-height: 19px;
    /* padding: 8px; */
    text-align: center;
    height: 35px;
    width: 41px;
}

.pagination-link {
    color: black;
    font-size: 14px;
    line-height: 19px;
}

.pagination-first-button, .pagination-last-button {
    width: 90px;
}

.pagination-button.active {
    background-color: #080878;
    border: solid 1px #080878;
    color: white;
}

.pagination-prev-button:before, .pagination-next-button:before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pagination-prev-button:before {
    background-image: url(../img/icon-left-arrow.svg);
}

.pagination-next-button:before {
    background-image: url(../img/icon-right-arrow.svg);
}

/* BREADCRUMBS */

.breadcrumbs {
    /* height: 0; */
    position: relative;
}

.breadcrumbs-list {
    position: absolute;
    top: 0;
    left: 15px;
    padding-left: 0;
    list-style: none;
    z-index: 1;
}

.breadcrumbs-item, .breadcrumbs_sep, .breadcrumbs_title, .breadcrumbs-item * {
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    color: #361010;
}

.breadcrumbs_sep {
    /* content: '/'; */
    /* display: inline-block; */
    margin-left: 5px;
    /* margin-right: 5px; */
}

.main-title {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 59px;
    /* identical to box height */
    letter-spacing: 0.05em;
}

.main-title>span {
    color: #0000A0;
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 59px;
    /* identical to box height */
    letter-spacing: 0.05em;
}

.review-form {
    background-color: #FAFAFA;
}

.wrapper-tags-reviews {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 60px;
}

.tag-reviews-item {
    display: inline-block;
    background-color: #F3F3F3;
    font-family: 'Roboto';
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    /* display: flex; */
    /* align-items: center; */
    color: #505050;
    /* Inside Auto Layout */
    /* flex: none; */
    /* order: 0; */
    /* flex-grow: 0; */
    /* margin: 0px 10px; */
    padding: 10px 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.tag-reviews-item.active {
    background-color: #0000A0;
    color: white;
}

.property {
    padding-bottom: 100px;
    background-color: #FDFDFD;
}

.price-from {
    color: #0000A0;
    font-weight: bold;
    font-size: 35px;
    line-height: 25px;
    margin-left: 25px;
}

.proprty-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.property-value {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.title-contacts-row {
    /* font-family: Open Sans; */
    /* font-style: normal; */
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #0C0C0C;
}

.value-contacts-row a, .value-contacts-row {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: black;
}

.title-contacts-row {
    margin-left: 112px;
}

.title-contacts-row, .value-contacts-row {
    margin-top: 0;
    margin-bottom: 35px;
}

.form_contacts_image {
    background-image: url(../img/form_contacty.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 100%; */
    /* min-height: 700px; */
    height: 100%;
}

.form_contacts_inner {
    /* border: solid 1px red; */
    /* min-height: 300px; */
    margin-top: 100px;
    margin-left: 26px;
    margin-right: 146px;
}

.form_contacts_inner .form-field-name {
    margin-top: 0;
    margin-bottom: 15px;
}

/* .form_contacts_inner .input-form{ */

/* max-width: 460px; */

/* } */

.form_contacts_inner .btn-submit {
    margin-top: 41px;
    margin-bottom: 100px;
}

.wrapper-map-contacts {
    padding-bottom: 100px;
}

.bg-gray {
    background-color: #FAFAFA;
}