@media(max-width: 1280px) {
    .container {
        min-width: 768px;
        width: 100%;
        overflow-y: hidden;
    }
    .wrapper {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
    }
    .md-col-footer {
        flex: 1 1 33.333%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .md-col-1-1 {
        width: 100%;
        max-width: 100%;
        flex: 1 1 100%;
    }
 
    .md-d-flex {
        display: flex;
    }
    .md-d-none {
        display: none;
    }
    .md-d-block {
        display: block;
    }
    .md-flex-collumn {
        flex-direction: column;
    }
    .md-align-items-start {
        align-items: flex-start;
    }
    .md-justify-content-center{
        justify-content: center;
    }
    .md-justify-content-around {
        justify-content: space-around;
    }
    .md-justify-content-between {
        justify-content: space-between;
    }
    .md-justify-content-end{
        justify-content: flex-end;
    }
    .md-flex-collumn-reverse {
        flex-direction: column-reverse;
    }
    .md-align-items-end{
        align-items: flex-end;
    }
    .md-flex-row {
        flex-direction: row;
    }
    .md-flex-wrap {
        flex-wrap: wrap;
    }
    .col-md-2-5 {
        max-width: 40%;
        flex: 0 0 40%;
        width: 40%;
    }
    .col-md-25 {
        max-width: 25%;
        flex: 0 0 25%;
        width: 25%;
    }
    .col-md-30 {
        max-width: 30%;
        flex: 0 0 30%;
        width: 30%;
    }
    .col-md-40 {
        max-width: 40%;
        flex: 0 0 40%;
        width: 40%;
    }
    .col-md-45 {
        max-width: 45%;
        flex: 0 0 45%;
        width: 45%;
    }
    .md-mb-31 {
        margin-bottom: 31px;
    }
    .md-pl-30 {
        padding-left: 30px;
    }
    .md-pr-30 {
        padding-right: 30px;
    }
    .md-text-center{
        text-align: center;
    }
    .md-text-right{
        text-align: right;
    }
    .header-top-city-wrapper {
        position: inherit;
    }
    .nav-item:not(:last-child) {
        margin-right: 28px;
    }
    .navbar-topmenu {
        height: 50px;
        margin-right: 0;
    }
    .logotype-wrapper {
        min-width: 175px;
        text-align: center;
    }
    .logotype-slogan {
        font-size: 8px;
    }
    .search-wrapper {
        margin-left: 43px;
        margin-bottom: 15px;
    }
    .input-search {
        width: 201px;
    }
    .phone-wrapper {
        margin-left: 43px;
    }
    .btn-ckeck-status, .btn-order-call {
        width: 165px;
        height: 35px;
    }
    .btn-order-call {
        margin-bottom: 10px;
    }
    .callback-wrapper {
        margin-left: 0;
    }
    .header-middle-wrapper {
        padding: 25px 0;
        border-bottom: solid 5px #0000A0;
    }
    .header-bottom-wrapper {
        position: fixed;
        display: none;
    }
    .logotype-inner {
        margin-bottom: 3px;
    }
    .section-banner {
        padding-left: 73px;
        padding-right: 74px;
    }
    /* .btn-banner-form-submit{
        margin-left: auto;
    } */
    .banner-wrapper {
        margin-top: 90px;
        margin-bottom: 80px;
    }
    .banner-form-wrapper {
        margin-bottom: 79px;
    }
    .section-banner:last-child{
        padding-right: 23px;
    }
    .advantages-title {
        margin-top: 80px;
        margin-bottom: 70px;
    }
    .item-advantages {
        flex: 1 1 50%;
        margin-bottom: 60px;
    }
    .item-advatage-title {
        margin-bottom: 25px;
    }
    .item-advatage-description {
        padding: 0;
    }
    .advantages-wrapper {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .card-categoty-device {
        flex: 0 0 50%;
        padding-left: 37.5px;
        padding-right: 37.5px;
        margin-bottom: 60px;
    }
    .type-device-wrapper {
        padding-left: 17px;
        padding-right: 17px;
        margin: 0;
        /* margin-bottom: 60px; */
    }
    .steps-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    .steps-title {
        margin-top: 80px;
        margin-bottom: 70px;
    }
    .card-step {
        flex: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-step:not(:last-child)::before {
        display: none;
    }
    .card-step-title {
        margin-bottom: 25px;
    }
    .card-step-description {
        text-align: center;
        margin-bottom: 60px;
        max-width: 344px;
        margin-left: auto;
        margin-right: auto;
    }
    .content-wrapper {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .content h1, .content h2, .content h3, .content h4, .content-title {
        margin-bottom: 40px;
    }
    .content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4:not(:first-child), .content-title:not(:first-child) {
        margin-top: 70px;
    }
    .map-block-wrapper {
        min-height: 454px;
    }
    .map-form-title {
        width: 100%;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 5px;
    }
    .map-form-subtitle {
        width: 100%;
        text-align: center;
        margin-bottom: 71px;
    }
    .input-map-form-phone {
        width: 270px;
        height: 35px;
        max-width: 50%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
    }
    .btn-map-form-submit {
        height: 35px;
        width: 250px;
        max-width: 40%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
    }
    .footer-logotype-wrapper {
        text-align: left;
    }
    .footer-logotype-subtitle {
        display: block;
        font-size: 10px;
        line-height: 14px;
        margin-left: 6px;
    }
    .item-page-menu {
        font-size: 14px;
        line-height: 19px;
    }
    footer {
        padding-top: 40px;
    }
    .page-menu {
        margin-top: 0;
    }
    .footer-email {
        display: inline-block;
        margin-bottom: 18px;
    }

    .footer-timework-title {
        margin-top: 0;
        margin-bottom: 18px;
    }
    .footer-payment-title {
        margin-top: 0;
        margin-bottom: 18px;
    }
    .footer-end-line {
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }
    .banner-text-wrapper{
        padding-right: 0;
    }
    .footer-logotype-section{
        margin-bottom: 31px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-first-menu{
        padding-left: 30px;
    }
    .footer-third-menu{
        padding-right: 30px;
    }
    
}