@media(max-width: 768px) {
    section * {
        font-size: 15px;
        line-height: 20px;
    }
    section {
        width: 100%;
    }
    .container {
        min-width: 355px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
    }
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sm-flex-wrap {
        flex-wrap: wrap;
    }
    .sm-flex-collumn {
        flex-direction: column;
    }
    .sm-align-items-start {
        align-items: flex-start;
    }
    .sm-d-none {
        display: none;
    }
    .sm-flex-collumn {
        flex-direction: column;
    }
    .sm-col-1-1 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .header-top-city-wrapper {
        padding-top: 8px;
        padding-bottom: 7px;
    }
    .header-top-city {
        font-size: 14px;
        line-height: 16px;
    }
    .logotype-wrapper {
        min-width: 108px;
        width: 108px;
    }
    .logotype-slogan {
        font-size: 6px;
        line-height: 8px;
    }
    .header-middle-wrapper {
        padding: 20px 0 13px;
        border-bottom: 0;
    }
    .section-banner {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        flex: 1 1 100%;
    }
    .banner-wrapper {
        margin: 0;
        padding-top: 40px;
    }
    .banner-title, .banner-title span {
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 0.05em;
        margin-bottom: 25px;
    }
    .banner-text-wrapper {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .banner-form-wrapper {
        margin-bottom: 51px;
    }
    .input-banner-form-phone, .btn-banner-form-submit {
        width: 230px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
    }
    .input-banner-form-phone {
        font-size: 15px;
        margin-bottom: 18px;
    }
    .btn-banner-form-submit {
        font-size: 15px;
        line-height: 18px;
    }
    .section-banner:last-child {
        padding: 0 0 51px;
    }
    .item-advantages {
        flex: 1 1 100%;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .item-advantages:not(:first-child) {
        display: none;
    }
    .advantages-title {
        margin: 50px 0;
        font-size: 25px;
        line-height: 33px;
    }
    .image-advantages-wrapper {
        margin-bottom: 25px;
    }
    .item-advatage-title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .item-advatage-description {
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
    }
    .type-device-title {
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.05em;
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .type-device-wrapper {
        padding: 0 0 50px;
    }
    .card-categoty-device {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 22px;
    }
    .image-category-device-wrapper {
        padding: 49px 20px;
    }
    .card-category-device-title {
        height: 42px;
        font-size: 15px;
        line-height: 22px;
    }
    .steps-wrapper {
        padding-bottom: 50px;
    }
    .steps-title {
        margin: 50px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        /* identical to box height */
        letter-spacing: 0.05em;
    }
    .card-step {
        flex: 1 1 100%;
        width: 100%;
        max-width: 270px;
        padding: 0;
    }
    .card-step:not(:first-child) {
        display: none;
    }
    .card-step-image-wrapper {
        margin-bottom: 25px;
    }
    .card-step-title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
        text-align: center;
        margin-bottom: 20px;
    }
    .card-step-description {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        margin: 0;
    }
    .content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content-title:first-child {
        font-family: 'Samsung Sharp Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.05em;
        /* margin-top: 10px; */
        margin-bottom: 25px;
    }
    .content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4:not(:first-child), .content-title:not(:first-child) {
        font-family: 'Samsung Sharp Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.05em;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .content-wrapper {
        padding-top: 40px;
    }
    .content-wrapper ul, .content-wrapper ol {
        padding-left: 15px;
    }
    .map-form {
        margin-left: 0;
    }
    .map-form-title {
        font-family: 'Samsung Sharp Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .map-form-subtitle {
        margin-bottom: 36px;
    }
    .input-map-form-phone, .btn-map-form-submit {
        width: 270px;
        max-width: 270px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        line-height: 20px;
        /* text-align: center; */
    }
    .input-map-form-phone {
        margin-bottom: 15px;
    }
    .btn-map-form-submit {
        line-height: 18px;
        margin-bottom: 50px;
    }
    .map-block-wrapper {
        min-height: 265px;
    }
    footer {
        padding-top: 22px;
    }
    .footer-logotype-section {
        padding-left: 5px;
        padding-right: 10px;
        margin: 0 0 20px;
    }
    .footer-logotype-wrapper {
        margin-top: -6px;
    }
    .footer-phone:first-child::before {
        top: 2px;
        left: -35px;
    }
    .image-footer-logotype {
        width: 145px;
    }
    .footer-logotype-subtitle {
        display: block;
        font-size: 8px;
        line-height: 11px;
        text-align: center;
    }
    .footer-phone {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
    .footer-phone-subtitle {
        margin-bottom: 15px;
    }
    .footer-first-menu {
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-menu {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .item-page-menu {
        flex: 0 0 33.333%;
    }
    .service-menu {
        margin: 0;
    }
    .footer-second-menu, .footer-third-menu {
        padding: 0 10px;
    }
    .footer-third-menu {
        margin-bottom: 30px;
    }
    .md-col-footer {
        flex: 0 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .col-footer-1 {
        flex: 1 1 100%;
    }
    .footer-email {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .btn-footer-callback {
        font-family: 'Roboto';
        width: 229px;
        height: 35px;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 45px;
    }
    .footer-timework-title, .footer-payment-title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    .footer-timework-title {
        margin-bottom: 8px;
    }
    .footer-timework {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
    }
    .footer-payment-title {
        margin-bottom: 8px;
    }
    .footer-end-line {
        padding: 40px 10px 19px;
    }
    .copyright {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height */
        color: #F1F1F1;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .privacy-policy-wrapper, .privacy-policy-wrapper a {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height */
        color: #F1F1F1;
        width: 100%;
        text-align: center;
    }
    .item-page-menu-link {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */
        color: #FFFFFF;
    }
}