<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="css/app.min.css">

</head>

<body>
    <header>
        <div class="header-top-wrapper">
            <nav class="navbar">
                <div class="container">
                    <div class="row">
                        <div class="wrapper d-flex">
                            <div class="header-top-city-wrapper">
                                <span class="header-top-city">г. Москва</span>
                            </div>
                            <div class="navbar-topmenu d-flex justify-content-center sm-d-none">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">О компании</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Гарантия</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Доставка</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Цены</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Отзывы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="header-middle-wrapper">
            <div class="container">
                <div class="row ">
                    <div class="wrapper d-flex align-items-center">
                        <div class="logotype-wrapper">
                            <div class="logotype-inner">
                                <img src="img/logotype.png" alt="" class="logotype-image">
                            </div>
                            <span class="logotype-slogan">Официальный сервисный центр</span>
                        </div>
                        <div class="search-and-phones-wrapper d-flex d-flex align-items-center md-flex-collumn md-align-items-start sm-d-none">
                            <div class="search-wrapper">
                                <form action="#" class="input-group mb-3">
                                    <input type="search" class="form-control input-search" placeholder="Поиск">
                                    <button class="btn btn-search-submit" type="submit"></button>
                                </form>
                            </div>
                            <div class="phone-wrapper">
                                <div class="phone-inner">
                                    <a href="tel:+79998887766" class="phone-number">
                                        <span class="phone-number-text">7 (999) 888-77-66</span>
                                    </a>
                                    <div class="phone-number-info">
                                        <span>Ежедневно с 08:00 до 22:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="callback-wrapper sm-d-none">
                            <button class="btn btn-order-call">Заказать звонок</button>
                            <button class="btn btn-ckeck-status">Проверить статус</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-wrapper">
            <div class="container">
                <div class="row">
                    <div class="wrapper">
                        <nav class="mainmenu">
                            <ul class="mainmenu-nav d-flex justify-content-center">
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт<br>смартфонов</a>
                                </li>
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт<br>планшетов</a>
                                </li>
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт<br>ноутбуков</a>
                                </li>
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт<br>телевизоров</a>
                                </li>
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт<br>мониторов</a>
                                </li>
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт<br>холодильников</a>
                                </li>
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт<br>стиральных машин</a>
                                </li>
                                <li class="mainmenu-item">
                                    <a href="#" class="mainmenu-link">Ремонт <br>посудомоечных машин</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>