<section class="map">
    <div class="container-fluid">
        <div class="row md-flex-collumn-reverse">
            <div class="map-block-wrapper">
                <div style="color: white; font-size: 24px; margin-left: 250px; margin-top: 100px;">.map-yandex</div>
            </div>
            <div class="map-form-wrapper">
                <from class="map-form d-flex md-flex-wrap flex-column md-flex-row sm-flex-collumn">
                    <h2 class="map-form-title">Оставьте заявку на ремонт</h2>
                    <span class="map-form-subtitle">И получите скидку 20%</span>
                    <input type="tel" class="input-map-form-phone" placeholder="Ваш телефон">
                    <button type="submit" class="btn btn-map-form-submit">Заказать ремонт</button>
                </from>
            </div>
        </div>
    </div>
</section>