.parallax {
    z-index: 11111111;
    position: fixed;
    top: 0;
    left: 99999;
    right: 0;
    bottom: 0;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    background-color: #fafafa;
    transition: opacity 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax.show {
    left: 0;
    pointer-events: inherit;
    opacity: 1;
}

.parallax-close {
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 50px;
    /* background-color: white; */
    /* overflow: hidden; */
    /* border-radius: 50%; */
    /* padding: 5px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.parallax-close span {
    position: absolute;
    display: block;
    top: 22.5px;
    /* border-bottom: solid 5px black; */
    flex-direction: column;
    width: 100%;
    height: 5px;
    background-color: black;
    transition: transform 0.5s;
}

.parallax-close span:first-child {
    transform: rotate(45deg);
}

.parallax-close span:last-child {
    transform: rotate(-45deg);
}

.parallax-close:hover span:first-child {
    transform: rotate(-45deg);
}

.parallax-close:hover span:last-child {
    transform: rotate(45deg);
}

.error-validation {
    border: solid 1px red;
}

.wpcf7-response-output {
    display: none;
}

.image-category-device {
    min-height: 220px;
    width: auto;
}

.header-top-city-list {
    display: none;
}

.banner-image-wrapper {
    text-align: center;
}

.type-device-select-inner {
    display: inline-block;
    min-width: 332px;
    width: auto;
}

.type-device-select-list {
    min-width: 332px;
    width: auto;
}

.type-device-select-list {
    padding: 0 30px 0 15px;
}

.card-category-device-title {
    padding: 0 10px;
    text-align: center;
}

.btn-category-device-more {
    width: 360px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color: #0000A0;
    /* border: none; */
    cursor: pointer;
    margin-bottom: 80px;
}
.btn-category-device-more:hover{
    color: black;
    background-color: white;
}